<!DOCTYPE html>
<html>
<%- include('partials/header'); %>

<body>
  <div class="container">
    <h1 class="header">All Users</h1>
    <div class="row">
      <form class="col s12" method="POST">
        <div class="row">
          <div class="input-field col s12">
            <input id="login" name="login" type="text" class="validate" autofocus
            value="<%- locals.user ? user.login : '' %>">
            <label for="login" class="active">Enter user login</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" name="password" type="text" class="validate"
            value="<%- locals.user ? user.password : '' %>">
            <label for="password" class="active">Enter user password</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="age" name="age" type="text" class="validate"
            value="<%- locals.user ? user.age : '' %>">
            <label for="age" class="active">Enter user age</label>
          </div>
        </div>
        <div class="row">
          <a class="btn col s3" href="/"><i class="material-icons left">arrow_back</i>Go Home</a>
          <button class="btn col s3 offset-s6" type="submit">
            <%- locals.user ? "Update" : "Create" %>
            <i class="material-icons right">arrow_forward</i>
          </button>
        </div>
      </form>
      </div>
  </div>
</body>

</html>